<!doctype html>
<html lang="en">
  <head>
    {% load static %}

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'blog/css/blog_base.css' %}">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">

    <title>
        {% block title %}
            TheBuzzAlarm
        {% endblock %}
    </title>
    {% block head %}{% endblock %}
</head>

<body>

  <!--
      HEADER
  -->
  <header>
    <!-- NAV -->
    <div class="nav container">

      <!-- LOGO -->
      <a href="{% url 'home' %}" class="logo">The<span>Buzz</span>Alarm</a>
      
      <!-- Home Btn -->
      {% if current_url_name != 'home' %}
          <a href="{% url 'home' %}" class="login">Home</a>
      {% endif %}
    </div>
  </header>

  {% block home_section %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  <div class="footer container">
    <p>Copyright &copy; {% now "Y" %} TheBuzzAlarm. All rights reserved.</p>

    <div class="social">
      <a href="#"><i class='bx bxl-facebook'></i></a>
      <a href="#"><i class='bx bxl-twitter'></i></a>
      <a href="#"><i class='bx bxl-instagram'></i></a>
    </div>
  </div>

  <script src="{% static 'blog/js/header.js' %}"></script>
</body>
</html>