{% extends 'blog/base.html' %}

<head>
    {% load static %}

    {% block head %}
        <link rel="stylesheet" href="{% static 'blog/css/home.css' %}">
    {% endblock %}
</head>

<body>

    {% block home_section %}
        <section class="home" id="home">
            <div class="home-text container">
                <h2 class="home-title">Interesting News</h2>
                <span class="home-subtitle">The latest news from around the world</span>
            </div>
        </section>
    {% endblock %}

    {% block content %}


    {% comment %} <h1>Posts</h1> {% endcomment %}

    <ul>
    {% for post in posts %}
        <li class="box">
            <h5 class="title">{{ post.title }}</h5> 
            {% comment %} <h2>{{ post.title }} - by: {{ post.author }}</h2><br> {% endcomment %}
            {% comment %} <h3>{{ post.title }} - by: {{ post.author.first_name}} {{ post.author.last_name }}</h3><br> {% endcomment %}
            <p>{{ post.body|safe }}</p> 
            <div class="buttons">
                <button class="read-more-button"><a href="{% url 'news-detail' post.pk %}">Read More</a></button>
                <div>
                    {% comment %} <button class="edit-button"><a href="{% url 'update-post' post.pk %}">Edit</a></button> - 
                    <button class="delete-button"><a href="{% url 'delete-post' post.pk %}">Delete</a></button> {% endcomment %}
                </div>
            </div>
        </li>        
    {% endfor %}
    </ul>

    {% endblock %}
</body>